body{
    font-family: FELL Double Pica;
}
.container{
    max-width: 1200px;
}
.container-inner{
    max-width: 90%;
}
.bg__menu{
    background-image: url("./images/menu.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;
}
.header{
    margin: 20px auto;
    justify-content: space-around;
}
.header .left__menu{
    width: 50%;
}
.header .right__menu{
    width: 50%;
}
.text__header{
    font-family: Enchanted Land;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    align-items: center;
}
/* slider-banner*/


.banner-image-slider .slick-initialized .slick-slide {
    /* height: 100vh; */
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
.banner-image-slider .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 1;
    z-index: 5;
    transition: all 0.2s linear;
  }
.banner-image-slider .slick-prev {
    left: 4vw;
  }
.banner-image-slider .slick-next {
    right: 4vw;
  }
.banner-image-slider .slick-dots {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex !important;
    align-items: center;
    justify-content: center;
    gap: 0 20px;
  }
.banner-image-slider .slick-dots button {
    font-size: 0;
    width: 28px;
    height: 28px;
    border-radius: 100rem;
    /* background-color: #eee; */
    background-image: url("./images/circle.png");
    background-size: cover;
    border: none;
    outline: none;
    transition: all 0.2s linear;
  }
.banner-image-slider .slick-dots .slick-active button {
    /* background-color: #2cccff; */
    background-image: url("./images/circle-active.png");
  }
.banner-image-slider .slick-list{
    /* height: 100vh; */
    width: 100vw;
  }
.slick-slider .image{
    /* width: 100vw;
    height: 100%; */
  }
.banner-image-slider .slick-slider{
    height: 100vh;
    width: 100vw;
  }
.banner-image-slider .slick-slide img{
    height: 100%;
    width: 100%;
  }
.banner-image-slider .slick-track{
    /* width: 100vw; */
    /* height: 100vh; */
}
  /*slider*/

.background__hero{
      background-image: url("./images/bg_hero.png");
      background-repeat: no-repeat;
      background-size: cover;
  }
.text--hero{
      font-size: 72px;
      padding: 50px 0 30px;
  }

/*hero*/
.hero-image-slider .slick-initialized .slick-slide {
    height: 100vh;
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
.hero-image-slider .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 1;
    z-index: 5;
    transition: all 0.2s linear;
  }
.hero-image-slider .slick-prev {
    left: -5vw;
  }
.hero-image-slider .slick-next {
    right: -5vw;
  }
.hero-image-slider .slick-dots {
    position: absolute;
    top: 10px;
    left: 0%;
    transform: translate(-50%, 0);
    display: flex !important;
    align-items: center;
    justify-content: center;
    gap: 0 2vw;
  }
.hero-image-slider .slick-dots button {
    font-size: 0;
    width: 9vw;
    height: 9vw;
    border-radius: 100rem;
    /* background-color: #eee; */
    background-image: url("./images/hero-tribe.png");
    background-size: cover;
    border: none;
    outline: none;
    transition: all 0.2s linear;
  }
.hero-image-slider .slick-dots .slick-active button {
    /* background-color: #2cccff; */
    background-image: url("./images/hero-tribe-active.png");
  }
.hero-image-slider .slick-list{
    /* height: calc(100vh - 150px);
    width: 100vw; */
  }
.slick-slider .image{
    /* width: 100vw;
    height: 100%; */
  }
.hero-image-slider .slick-slider{
    height: 100vh;
    width: 100vw;
  }
.hero-image-slider .slick-slide img{
    height: 100%;
    width: 100%;
  }
.hero-image-slider .slick-track{
    /* width: 100vw; */
    /* height: calc(100vh - 150px); */
}
.hero-image-item{
    /* margin-top: 136px; */
    height: 70% !important;
}
/* .hero-image-item .image{
    --spacing: 30vw;
    width: var(--spacing) !important;
    height: calc(var(--spacing) / 472 * 512) !important;
} */
.button_hero{
    margin: 5px auto;
    width: 20vw;
}
.carousel-hero img{
    width: 6vw;
    height: 6vw;
    cursor: pointer;
}
.carousel-hero {
    gap: 4vw;
    padding: 40px 0 20px;
}
.background__feature{
  background-image: url("./images/bg_hero.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.feature--content{
  padding: 40px 0 80px;
}
.feature--item .item--header{
  font-family: Enchanted Land;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  color: #412003;
}
.feature--item:hover{
  margin-top: -30px;
  cursor: pointer;
  transition: all 0.4s ease;
}
.team--item:hover{
  transform: scale(1.08);
  transition: all 0.4s ease;
}
.feature--item{
  background-image: url("./images/bg-feature-item.png");
  background-size: 100% 100%;
  padding: 33px;
  text-align: start;
  background-repeat: no-repeat;
}
.feature--item .item--bottom{
  font-family: IM FELL Double Pica;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #412003;
}
.feature--content{
  gap: 1vw;
}
.background__roadmap{
  background-color: #121315;
}
.img-ngang{
  margin: 25px 0 -35px;
}
.background__partner{
  background-color: #121315;
}
/*slider-partner*/

.partner .slick-slide {
  margin: 0px 20px;
}

.partner .slick-slide img {
  width: 100%;
  /* height: 100px; */
}

.partner .slick-slider
{
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.partner .slick-list
{
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.partner .slick-list:focus
{
  outline: none;
}
.partner .slick-list.dragging
{
  cursor: pointer;
  cursor: hand;
}

.partner .slick-slider .slick-track,
.partner .slick-slider .slick-list
{
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.partner .slick-track
{
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.partner .slick-track:before,
.partner .slick-track:after
{
  display: table;
  content: '';
}
.partner .slick-track:after
{
  clear: both;
}
.partner .slick-loading .slick-track
{
  visibility: hidden;
}

.partner .slick-slide
{
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .partner .slick-slide
{
  float: right;
}
.partner .slick-slide img
{
  display: block;
}
.partner .slick-slide.slick-loading img
{
  display: none;
}
.partner .slick-slide.dragging img
{
  pointer-events: none;
}
.partner .slick-initialized .slick-slide
{
  display: block;
}
.partner .slick-loading .slick-slide
{
  visibility: hidden;
}
.partner .slick-vertical .slick-slide
{
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.partner .slick-arrow.slick-hidden {
  display: none;
}
.partner--slider{
  background-image: url("./images/bg-partner-slider.png");
  background-size: 100% 100%;
  padding: 33px 0;
  margin: 55px 0;
}
.partner{
  padding: 40px 0 100px;
}
.background__footer{
  background-image: url("./images/footer.png");
  height: 500px;
}
.absolute{
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card--footer{
  max-width: 430px;
  background-image: url("./images/card-footer.png");
  margin: auto;
  padding: 26px;
  background-size: contain;
  background-repeat: no-repeat;
}
.footer{
  font-family: IM FELL Double Pica;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 200%;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  height: 100%;
  padding: 7%;
}
.title--card{
  font-size: 24px;
  line-height: 30px;
  padding-bottom: 25px;
}
.text--header--footer{
  padding-bottom: 20px;
}
.background__ourteam{
  background-image: url("./images/bg-ourteam.png");
  background-size: 100% 100%;
}
.ourteam{
  padding: 40px 0 100px;
}
.content-ourteam{
  font-family: IM FELL Double Pica;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
  max-width: 50%;
}
.background__coppy{
  background-color: #1E1912;
}
.background__coppy .title{
  font-family: IM FELL Double Pica;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
}
.contact{
  max-width: 333px;
  gap: 3vw;
}
.text-item-hero{
  gap: 4vw;
}
.text-item-hero div:nth-child(n){
  font-family: Enchanted Land;
  font-style: normal;
  font-weight: normal;
  font-size: 2vw;
  line-height: 42px;
  color: #FFFFFF;
  width: 6vw;
  text-align: center;
}
/*roadmap*/

.slider-roadmap.image-slider {
  padding-bottom: 50px;
}
.slider-roadmap .image {
  height: 500px;
  margin-bottom: 20px;
}
.slider-roadmap .image img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
.slider-roadmap .image-title {
  font-size: 20px;
  color: #8e8fb5;
}
.slider-roadmap .slick-initialized .slick-slide {
  margin: 0 10px;
}
.slider-roadmap .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 1;
  z-index: 5;
  transition: all 0.2s linear;
}

.slider-roadmap .slick-prev {
  left: -50px;
}
.slider-roadmap .slick-next {
  right: -50px;
}
.slider-roadmap .slick-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 0 20px;
}
.slider-roadmap .slick-dots button {
  font-size: 0;
  width: 15px;
  height: 15px;
  border-radius: 100rem;
  background-color: #eee;
  border: none;
  outline: none;
  transition: all 0.2s linear;
}
.customer-logos .slide{
  text-align: center;
}
.mt-1{
  margin-top: 11px !important;
}